<% if session[:user_id] == @user.id %>
<br>
<p>prénom : <%= @user.first_name %></p><br>

<p>nom : <%= @user.last_name %></p><br>

<p>email : <%= @user.email %></p><br>
<br><br>

<% else %>
  <h2>Ici tu ne peux pas voir le profil des autres membres!</h2>
<% end %>